.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Displays 2 wider boxes per row */
  grid-gap: 2em;
  justify-content: center; /* Centers the boxes horizontally */
}
