.project {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* text-align: left; */
  color: #333; /* Changes text color to black */
  width: 100%; /* Makes the boxes wider */
  max-width: none; /* Removes any maximum width constraints */
}

.project:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px;
}

.project__description {
  margin-top: 1rem;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: #333;
}

.project .link--icon {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.project h3 {
  text-align: left; /* Left-aligns the project title */
  color: #000; /* Optional: set the text color */
  font-weight: bold;
}

.project__description {
  text-align: left; /* Left-aligns the project description text */
  color: #333 !important; /* Optional: ensures description text color */
  padding-left: 1rem; /* Optional: add some padding for bullet points */
}

